html,
body {
  font-family: sans-serif;
  margin: 0;
  position: relative;
  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: fill-available;
  font-family: "Roboto Mono", monospace;
  background: #f4f4f4;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blank {
  position: absolute;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  top: 27.5%;
}

p {
  text-align: center;
}

#canvas {
  width: 800px;
  height: 800px;
}
#flexBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttons {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#buttons button {
  font-family: "Roboto Mono", monospace;
  width: 100%;
  /* border-radius: 10px; */
  background-color: #f4f4f4;
  padding: 10px;
  line-height: 2em;
  font-size: 1em;
  border-top: 3px solid black;
  /* border-bottom: 3px solid black; */
}

#buttons button:hover {
  background: burlywood;
}

#left-bg {
  left: 0;
  float: left;
}

#right-bg {
  right: 0;
  float: right;
}

#bgSelectBtn {
  display: flex;
  background: #f4f4f4;
  width: 95vw;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#autumnLeaves {
  border: none;
  border-top: 3px solid black;
}

#dirt {
  border: none;
  border-top: 3px solid black;
}
#chalk {
  border: none;
  border-top: 3px solid black;
}
#clear {
  border: none;
  border-bottom: 3px solid black;
}

#bgSelectBtn button {
  width: 90px;
  height: 90px;
}
#bgSelectBtn button img {
  width: 90px;
  height: 90px;
}

.select-btn:hover {
  background-color: burlywood;
  border: none;
  border-radius: 90px;
}

.select-btn {
  background: none;
  border: none;
}

@media only screen and (max-width: 800px) {
  main {
    padding: 20px;
  }
  #canvas {
    width: 100%;
    height: 100%;
  }
  #bgSelectBtn button {
    width: 60px;
    height: 60px;
  }
  #bgSelectBtn button img {
    width: 60px;
    height: 60px;
  }

  .select-btn:hover {
    background: none;
    border: none;
  }
}
